@page "/"
@page "/name/{NameSearch}"
@inject ISessionStorageService Session
@inject NavigationManager NavigationManager
@layout LayoutAdmin
@using Data.ViewModels
@using System.Net.Http.Headers

<div class="container-fluid my--7">
    <div class="row">
        <div class="col-xl-12 order-xl-1">
            <div class="card bg-secondary shadow mb-4">
                <div class="card-header bg-white border-0">
                    <div class="row align-items-center">
                        <div class="col">
                            <strong class="mb-0">Danh sách sản phẩm</strong>
                        </div>
                    </div>
                </div>
                <div class="card-body mt-2">
                    <div class="px-lg-4">
                        <div class="row">
                            @if (SanPhamViewModels != null)
                            {
                                var Model = SanPhamViewModels.GroupBy(a => a.SanPham?.Ten)
                                .SelectMany(b => b.OrderBy(c => c.ChiTietSp?.GiaBan)
                                .Select((Value, Index) => new { Value, Index = Index + 1 }))
                                .Where(c => c.Index == 1).Select(c => c.Value).ToList();
                                foreach (var x in NameSearch != null ? Model.Where(c => c.SanPham?.Ten?.ToLower().Trim().Contains(NameSearch) ?? false) : Model)
                                {
                                    if (x.SanPham?.Id == x.ChiTietSp?.IdSp)
                                    {
                                        <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-3 mb-4">
                                            <div class="card shadow align-items-center" style="border-radius: 2.375rem;">
                                                <img src="@x.ChiTietSp?.Anh" class="card-img-top p-4">
                                                <div class="card-body pt-2 text-center">
                                                    <a href="/productview/@x.SanPham?.Id"><h4 class="card-subtitle mb-2 text-muted text-uppercase">@x.SanPham?.Ten</h4></a>
                                                    <h3 class="card-text d-flex justify-content-between">
                                                        Từ @string.Format("{0:0,0}", x.ChiTietSp?.GiaBan) VNĐ
                                                    </h3>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }
                            }
                        </div>
                        <div class="row">
                            <Pagination CurrentPageIndex="CurrentPageIndex" MaxRow="8" Model="SanPhamViewModels" Namespace="/"></Pagination>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public int CurrentPageIndex { get; set; }

    [Parameter]
    public string? NameSearch { get; set; }

    private List<SanPhamViewModel>? SanPhamViewModels;

    protected override async Task OnInitializedAsync()
    {
        if (await Session.GetItemAsStringAsync("jwt") == null) NavigationManager.NavigateTo("/login");
        using (var httpClient = new HttpClient())
        {
            httpClient.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue("Bearer", await Session.GetItemAsStringAsync("jwt"));
            SanPhamViewModels = await httpClient.GetFromJsonAsync<List<SanPhamViewModel>>("https://localhost:7033/api/sanpham/getsanphamviewmodel");
        }
    }
}
