@page "/nsx"
@inject HttpClient Http

<PageTitle>Nhà sản xuất</PageTitle>

<div class="row mt-3">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="card-title">Quản lý nhà sản xuất</div> <hr />
                <div>
                    <div class="row">
                        <div class="form-group col-6 pr-0">
                            <label>Mã nhà sản xuất</label>
                            <input type="text" class="form-control" @bind="Nsx.Ma" placeholder="Nhập mã nhà sản xuất">
                        </div>
                        <div class="form-group col-6">
                            <label>Tên nhà sản xuất</label>
                            <input type="text" class="form-control" @bind="Nsx.Ten" placeholder="Nhập tên nhà sản xuất">
                        </div>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-light px-5 mr-2 mb-2" @onclick="Create">Thêm nhà sản xuất</button>
                        <button class="btn btn-light px-5 mr-2 mb-2" @onclick="Update">Sửa nhà sản xuất</button>
                    </div>
                </div>
                <h5 class="card-title">Danh sách nhà sản xuất</h5>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th style="width: 20%">STT</th>
                                <th style="width: 25%">Mã nhà sản xuất</th>
                                <th style="width: 25%">Tên nhà sản xuất</th>
                                <th style="width: 30%">Thao tác</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if(Nsxs != null){
                                @foreach (var x in Nsxs.Select((value, i) => new { i, value }))
                                {
                                    <tr>
                                        <th>@(x.i + 1)</th>
                                        <td>@x.value.Ma</td>
                                        <td>@x.value.Ten</td>
                                        <td>
                                            <button class="btn btn-success px-5" @onclick="() => Display(x.value.Id)">Sửa nhà sản xuất</button>
                                            <button @onclick="() => Delete(x.value.Id)" class="btn btn-danger px-5">Xóa nhà sản xuất</button>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    private List<Nsx>? Nsxs;
    private Nsx Nsx = new Nsx();

    protected override async Task OnInitializedAsync()
    {
        using(var httpClient = new HttpClient()){
            Nsxs = await httpClient.GetFromJsonAsync<List<Nsx>>("https://localhost:7033/api/nsx");
        }
    }

    private async Task Create()
    {
        using (var httpClient = new HttpClient())
        {
            using (var response = await httpClient.PostAsJsonAsync("https://localhost:7033/api/nsx", Nsx))
            {
                Nsxs = await httpClient.GetFromJsonAsync<List<Nsx>>("https://localhost:7033/api/nsx");
            }
        }
    }

    private async Task Delete(Guid? id)
    {
        using (var httpClient = new HttpClient())
        {
            using (var response = await httpClient.DeleteAsync("https://localhost:7033/api/nsx/" + id))
            {
                Nsxs = await httpClient.GetFromJsonAsync<List<Nsx>>("https://localhost:7033/api/nsx");
            }
        }
    }

    private async Task Update()
    {
        using (var httpClient = new HttpClient())
        {
            using (await httpClient.PutAsJsonAsync<Nsx>("https://localhost:7033/api/nsx/" + Nsx.Id, Nsx))
            {
                Nsxs = await httpClient.GetFromJsonAsync<List<Nsx>>("https://localhost:7033/api/nsx");
            }
        }
    }

    private async Task Display(Guid? id)
    {
        using (var httpClient = new HttpClient())
        {
            var result = await httpClient.GetFromJsonAsync<Nsx>("https://localhost:7033/api/nsx/" + id);
            if (result != null)
                Nsx = result;
        }
    }
}
